*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.live-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    padding: 10px;
    width: 400px;
    height: 400px;
    border: 3px solid black;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}