@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

.nav {
  width: 100%;
  height: 80px;
  padding: 18px 40px;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 0, 0, 0.4);
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.25);
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
}
nav h1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 1px 1px 5px #ff035f;
  font-size: clamp(20px, 4vw, 40px); /* Responsive size */
  margin: 0;
  padding: 10px 0px;
}

/* Mobile (small phones) */
@media (max-width: 480px) {
  nav h1 {
    font-size: 22px;
    text-align: center;
    padding: 12px 0;
  }
}

/* Tablet */
@media (max-width: 768px) {
  nav h1 {
    font-size: 26px;
  }
}

/* LOGO */
.nav-logo {
  display: flex;
  justify-content: start;
  align-items: center;
}

.nav-logo img {
  width: 80px;       /* adjust size */
  height: auto;
  object-fit: contain;
}


/* Nav Links */
.nav-links {
  display: flex;
  gap: 35px;
  list-style: none;
}

.nav-links li a {
  color: #eee;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #ff4444;
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
}

/* Mobile Menu Button */
.nav-toggle {
  width: 30px;
  height: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.nav-toggle span {
  display: block;
  width: 100%;
  height: 3px;
  background: #ff4444;
  border-radius: 4px;
  transition: 0.4s;
}

/* Transform to X */
.nav-toggle span.open:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.nav-toggle span.open:nth-child(2) {
  opacity: 0;
}
.nav-toggle span.open:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/* Responsive Menu */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0;
    top: 70px;
    width: 100%;
    background: rgba(10, 10, 10, 0.95);
    flex-direction: column;
    text-align: center;
    gap: 25px;
    padding: 25px 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid rgba(255, 0, 0, 0.3);
    box-shadow: 0 10px 20px rgba(255, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: 0.3s ease-in-out;
  }

  .nav-links.active {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
  }

  .nav-toggle {
    display: flex;
  }
}
